*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    background-color: grey;
}

body{
    display: flex;
    justify-content: center; 
    align-items: center;
    width: 400; 
    height: 600;
}